* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	max-width: 62.625rem;
	justify-content: center;
	align-items: center;
	margin: auto;
	
}

.headerWrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
}

.hCB {
	grid-area: 1 / 1 / 7 / 4;
	background-color: red;
}

.hCS1 {
	grid-area: 1 / 4 / 4 / 7;
	background-color: blue;
}

.hCS2 {
	grid-area: 4 / 4 / 7 / 7;
	background-color: yellow;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aqua;
	padding: 0.5rem;
	width: 100%;
}

.navBar ul {
	list-style: none;
	display: flex;
}

.navBar li {
	margin-right: 1rem;
}

.navBar a {
	text-decoration: none;
}

.mainContentWrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	height: 80.75rem;
	background-color: rgb(174, 95, 248);
}

.multiBoxWrapper{
	width: 100%;
	height: 42.5rem;
	background-color: rgb(250, 168, 159, 0.30);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	
	
	
}

/* grid-area construct!
grid-area:/1-target-start-row
          /1-startpostiton-on chosen row
          /3"target-rows"
          /10"row-stretch */

.miniBox{
	width: 20.875rem;
	height: 21.25rem;
	background-color: rgb(228, 52, 87, 0.45);
	border: 1px solid black;
}

.miniBox-1{
	background-color: #C7DDEA ;
	grid-area: 1/1/1/2;
	
}
.miniBox-2{
	background-color: mintcream;
	grid-area: 1/2/1/3;

}
.miniBox-3{
	background-color: #EBEBEB;
	grid-area: 1/3/1/4

}
.miniBox-4{
	background-color: mintcream;
	grid-area: 2/1/2/2;
}
.miniBox-5{
	background-color: #F17949;
	grid-area: 2/2/3/3;
}
.miniBox-6{
	background-color: mintcream;
	grid-area: 2/3/2/4;
}

.top{
	width: 100%;
	height: 5rem;
	background-color:#A9A19E ;
	

}

.span-text{
	font-size: 1.3rem;
}
.fa-chevron-up{
	font-size: 1.2rem;
}
